@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400;900&family=Poppins:wght@100;200;300;400;500&family=Potta+One&display=swap');

body{
  margin:0;
  padding:0;
  background-color:hsl(210, 40%, 98%);
  font-family: 'Poppins', sans-serif;
}